/* imports */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* inheritable globals go here: fonts, colours - note that margin, padding and box sizing can't be inherited hence going above */
:root {    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

*, *::before, *::after {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0 */ /*can be too heavy handed to go for full on reset */
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
 /* Remove default margin in favour of better control in authored CSS  - basically no margin bottom*/
h1, h2, h3, h4, p,
  figure, blockquote, dl, dd {
    /* margin-block-end: 0; */
    margin: 0;    
    padding: 0;
  }

  /* Set core body defaults */
body {
    margin: 0; /* not inheritable, just gets rid of the small default 8px margin surrounding the page */
    min-height: 100vh;
    line-height: 1.6; 
  }
  
  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
    line-height: 1.1;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
        padding: 0;
        margin: 0;
}

/* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
        text-decoration: none;
  }

  /* ------ RESETS DONE ------- */

  /* Global variables */

  :root {
    --sidebar-color-bg: #1992D4;
    --header-color-bg: green;
    --main-color-bg: #E2E8F0;
  }

  /* Project styling */

  .container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
  }

  nav {
    grid-row: span 2;
    background-color: var(--sidebar-color-bg);
        
  }

  header {
    /* grid-column: 2 / 3; */
    background-color: var(--header-color-bg);
    height: 8rem;
    grid-row: 1;
    grid-column: 2;    
  } 

  main {
    grid-column: 2;
    grid-row: 2/ 3 ;
    /* background-color: var(--main-color-bg); */
    background-color: white;
  }


/* logo and SVGs */

.logo,
.sidebar-item a {
    display: grid;
    grid-template-columns: 3rem 3fr;
    align-items: center;
    color: white;
    gap: 0.6rem;
    padding: 0.6rem;
    fill: white;


    & > h1 {
        grid-column: 2;
        justify-content: start;
        align-self: center;
        font-size: 1.4rem;
    }    

    &:hover {
        background-color: #2db0f6;
    }
    
    /* &::before {
        content: url('/images/svg/view-dashboard.svg');
        display: block;
        width: 2rem; 
        height: 2rem;
        /* background-image: url(/images/svg/view-dashboard.svg); */
        /*background-size: contain;
        background-repeat: no-repeat;        
        grid-column: 1;
        align-self: center;
        justify-self: center; 
        fill: white;
        color: white;*/
        /* justify-self: center; Center the icon horizontally in its column */
    } 

nav ul[role='list'] {
    margin-block-start: 1rem;
}

    .sidebar-item a {
    grid-template-columns: 3rem auto;
    padding-bottom: 0.4;
    padding-top: 0;
    
    & > svg {
        width: 1.2rem;
        justify-self: center;
    }
}

/* Header bar */

header {
    /* height: 9rem; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2rem 1fr;

    /* align-items: end; */

    position: relative;    
    padding: 1rem;

    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow only on bottom */


    & svg {
        height: 1rem;
        width: 1rem;
        &:hover{
            fill: orange;
        }
    }

    & img {
        background-color: #FACC15;
        border-radius: 50%;
        padding: 0.2rem;
    }
    
    & .header-search {
        display: grid;
        grid-template-columns: 2rem 1fr;
        padding: 0;
        height: 100%;

        & label {
            /* display: block; */
            /* width: 1rem; */
            /* height: 1rem; */
            justify-self: center;
            align-self: center;

        }

        & input {
            /* min-width: 100%; */
            border-radius: 1.5rem;
            border: 0;
            /* height: 1.4rem; */
            background-color: #E2E8F0;
            align-self:stretch;
            height: 100%;
            width: 100%;
            padding: 0.4rem;
            min-height: 100%;
        }
    }

    & .area-profile {
        display:grid;
        grid-template-columns: auto 1.5rem auto;
        justify-content: end;
        align-items: center;
        /* align-items: stretch; */
        gap: 2rem;
        /* height: 100%; */
                
        & > img {
            /* height: 100%; */
            max-height: 2rem;
            width: auto;

            /* object-fit: cover;             */
            /* align-self: stretch; */
        }

        & > * {
            font-weight: bold;
        }

    }

    & .area-profile-welcome {
        display: grid;
        grid-template-columns: 3rem auto;
        align-items: center;
        align-self: end;
        gap: 1rem;
        font-weight: bold;

        & > img {
            max-width: 100%;
            max-height: 100%;
        }

        & :first-child {
            font-size: 0.8rem;
        }
        
    }

    & .header-buttons {
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        align-items: end;

        & button {
        background-color:#1992D4;
        border: none;
        border-radius: 1rem;
        padding: 0.5rem 1.5rem;
        color: white;
        font: "Roboto", sans-serif;font-weight: bold;
        
        &:hover {
            background-color: #2db0f6;
        }   
        }
    }            
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    /* gap: 2rem; */

    

    row-gap: 2rem;

    padding: 1rem;

    background-color: #E2E8F0;

    /* padding: 1rem; */

    & h2 {
        margin-block-end: 1rem;
        /* display:block; */
        /* margin: 0; */
        /* padding: 0; */
    }

    .projects-area {
        /* display:block; */
        grid-column: 1;
        grid-row: 1 / 3;
    }

    & .card-area {
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            
        gap: 2rem;        
        
        padding: 1rem 1rem 0rem 1rem;

        /* border: 1px solid black; */       

        & .card {
            padding: 2rem 3rem;
            font-size: 1rem;
            /* border: 1px solid black; */
            background-color: #fff;
            


            border-left: 0.4rem solid orange;

            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

            border-radius: 0.5rem;

            line-height: 1;

            display: grid;
            grid-template-columns: 1fr;

                       
            
            & > p {
                color: #707070;
            }

            & .card-icons {
                justify-self: end;
                padding-top: 1rem;
                
                
            }

            & button {
                border: none;
                background: none;
                margin-left: 0.4rem;

                 svg {
                    width: 1rem;
                    height: 1rem;
                }

                :hover {
                    fill: orange;
                }
            }
        }
    }

    & .announcements {
        /* border: 1px solid blue; */
        
        grid-column: 2 / 3;
        grid-row: 1;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;  

        & > h2 {
            margin-block-end: 2rem;
        }

        /* padding-top: 1rem; */
        
             
        
        /* gap: 2rem; */
        /* padding-top: 1rem; */

        /* font-size: 0.6rem; */
        /* justify-content: start; */
        /* align-items: start; */
        /* align-self: start; */
        
        /* padding: 1rem; */

        .announcements-card {
            /* border: 1px solid blue; */
            padding: 2rem;
            /* padding-top: 2rem; */
            font-size: 0.6rem;
            background-color: #fff;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
        }

        & ul {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;

            & > li:not(:last-child) {
                padding-bottom: 1rem;
                border-bottom: 1px solid rgb(196, 190, 190);
                padding-top: 0;

            }
        }

    }

    .trending {        
        grid-column: 2 /3;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        /* align-items: end; */
        /* gap: 1rem; */
        
        
        /* border: 1px solid blue; */
        /* padding: 1rem; */
        font-size: 1rem;
        /* background-color: #fff; */

            & > h2 {
                margin-block-end: 2rem;
            }

        
        & img {
            height: 1rem;
        }

        .trending-card {
            /* border: 1px solid blue; */
            padding: 2rem;
            /* padding-top: 2rem; */
            font-size: 0.6rem;
            background-color: #fff;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            /* align-self: start; */

            
        }

        & ul {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            grid-template-rows: repeat(4, 1fr); /* Create 4 equal rows for the items */
            height: 100%;

            & > li {
                display: grid;
                grid-template-columns: 1fr 4fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 1rem;
                row-gap: 0;
                align-items: center;
                color: #707070;

                & > img {
                    grid-column: 1;
                    grid-row: 1 / 3;
                    /* align-self: center; */
                    height: 3rem;
                    width: 3rem;
                    object-fit: contain;
                    background-color: #FACC15;
        border-radius: 50%;
        padding: 0.2rem;
                }

                & > h4 {
                    align-self: center;
                    color: black;
                }
            }

            /* & > li:not(:last-child) {
                padding-bottom: 1rem;
                border-bottom: 1px solid rgb(196, 190, 190);
                padding-top: 0;

            } */
        }

        }
    }

